header {
    color:#000000;
    background-color: #ffffff;
    text-align: center;
    font-family: "Share Tech Mono", monospace;
    padding: 18px; /* gör header "bandet" längre till nedsidan */
}
body{
    background-image: url(../Bilder/pexels-danbuilds-633409.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar { 
    width: 100%;
    background-color:#ffffff;
    height: 40px;
}

.navbar ul {
    list-style-type: none; /* taear bort punkterna från listan */
    padding: 0; /* flyttar orden i navven lite åt vänster*/
    margin: 0; /* fixar mellanrummet mellan headern och naven */
    display: flex; /* radar upp listan horisontellt till navven*/
    justify-content: center; /* centrerar länkarna */
    gap: 100px; /* avstånd mellan länkarna */
}

.navbar a {
    text-decoration: none; /* Ta bort understrykning från länkar */
    color:#000000;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Share Tech Mono", monospace;
}

.navbar a:hover {
    
    text-decoration: underline; /* linje under orden */
    color: rgb(179, 179, 179); /* Ändrar färg vid hover */
}

main {
    display: flex; /* lägger bilden och texten brevid varandra  */
    flex-wrap: wrap;
}

.flex-item {
    width: 50%;

}




.omföretaget {
    color:#9d9797;
    width: 55%;
    padding: 20px; /* Padding så texten inte går från kant till kant */
    border-radius: 6px; /* (syndes innan jag fixade gap:et) bara lite lite små runda hörn */
    box-shadow: 1px 1px 5px rgba(160, 152, 152, 0); /* skugga runt texten så jag kan se vart rutan tar slut (tog bort)*/
    font-family: "Share Tech Mono", monospace;
}


.andrahalvan{
    color:#ffffff;
    display: flex;
    font-family: "Share Tech Mono", monospace;
}

.andrarubrik{

    color:#ffffff;
    justify-content: left;
    font-family: "Share Tech Mono", monospace;
}
.länk3 {
    margin-left: 100%;  /* Flyttar länken "Info" längst till höger */
}

.länk1 {
    margin-inline-start: -150%;  /* Flyttar länken "Info" längst till höger */
}
.andrarubrik{
    text-align: center;
    
}


.färg{
    color:#a49b9b
}

.andra-bild{
    margin-top: -4.2%;
    width: 52.1%;
}